
@model IEnumerable<SIBKMNetErika.Models.Province>
@{
    ViewData["Title"] = "Index";
}

<h1> <b>Index </b></h1>

<p>
    <a class="btn btn-outline-warning" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Region.Name)
    </td>
    <td>
        <a asp-action="Update">Update</a>
        @*@Html.ActionLink("Update", "Update", new { id = item.Id })*@|
        @Html.ActionLink("Details", "Details", new { /*id = item.Id*/ }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
    </td>

</tr>}
    </tbody>
</table>


